@model Galerija.Model.Exhibition
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <partial name="_CreateOrEdit" />
        </form>

        <br />
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
